<br><br>
<h1 class="text-center">Create your event now!</h1>
<br><br><br><br>
<form ng-submit="create_event()">
    <div ng-repeat="input in create_event_inputs" class="col-xs-8 col-xs-offset-2">
        <div ng-if="input.type == 'password'">
            <div class="form-item">
                <input type="{{input.type}}" name="input._name" id="input._name"
                ng-required="input.required"
                ng-model="create_event_inputs[$index].val"/>
                <label for="input._name">{{input._name}}</label>
                <ul id="strength" check-strength="create_event_inputs[$index].val"></ul>
            </div>
        </div>
        <div ng-if="input.type !== 'password'">
            <div class="form-item">
                <input type="{{input.type}}" name="input._name" id="input._name"
                ng-required="true"
                ng-model="create_event_inputs[$index].val"/>
                <label for="input._name">{{input._name}}</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <input type="submit" value="Create Event!" class="btn-primary" id="submit" name="submit"/>
            <label for="Submit" style="display:none;">Submit</label>
        </div>
    </div>
</form><br><br>